DATABASE_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?sslmode=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST:PORT/DATABASE?sslmode=require"
PORT=4000
NODE_ENV=development
SEED_MANAGER_EMAIL=manager@gmail.com
SEED_MANAGER_PASSWORD=managerpassword